.background {
    font-family:"Roboto", sans-serif;
    width: 100%;
}
.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color:  #777777;
    font-size: 14px;
    font-weight: 700;
    box-shadow: 1px 2px 4.75px 0.25px rgba(0, 0, 0, 0.15);
    min-height: 89px;
    padding: 0 15%;
}
.logo {
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #484848;
    transition: 0.4s;
}
.logo:hover {
    letter-spacing: 6px;
}
.navbar {
    display: flex;
    flex-direction: row;
}
.navbar li {
    padding-left: 40px;
}
.navbar:before{
    content: "";
    background-color: #06060a;
    width: 20px;
    height: 1px;
    align-self: center;
    margin-right: -20px;
}
.navbar li a:hover {
    color: #000;
    transition: 0.6s;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    background-image: url(..//images/news-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:  #000000;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    padding-left: 15%;
    letter-spacing: 5px;
    transition: 0.6s;
    margin-top: 1px;
}
.black-bg {
    color: #fff;
    margin-bottom: 44px;
    font-size: 48px;
    background-color:  #000000;
    width: 550px;
    height: 56px;
    text-align: center;
    line-height: 56px;   
}
.container a {
    transition: 0.7s;
}
.container a:hover {
    padding-left: 20px; 
}
.content {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px -3px 4.75px 0.25px rgba(163, 163, 163, 0.1);
    background-color: #f6f6f6;
    padding:38px 15% 111px 15%;
}
.blog { 
    display: flex;
    flex-flow: column wrap;
    width: 47vw;
    align-items: flex-start;
    max-height: 1900px;
    box-sizing: border-box;
    align-content: space-between;
}
.post img {
    width: 100%;
}
.post-video {
    width: 22.5vw;
    height: 200px;
    margin-top: 33px;
    box-sizing: border-box;
}
.post {
    display: flex;
    flex-flow: column wrap;
    width: 22.5vw;
    background-color: #fff;
    margin-top: 33px;
}
.post-discript {
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
}
.post:hover .post-discript {
    background-color: rgba(0,0,0,0.8);
    transition: 0.4s;
}
.post:hover .post-title{
    color: white;
}
.post:hover .post-info{
    color: white;
}
.post:hover .post-footer{
    color: white;
}
.post:hover .post-sign{
    color: white;
}
.wordpress-btn {
    border-radius: 2px;
    background-color:  #000000;
    width: 110px;
    height: 26px;
    color:  #ffffff;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    outline-style: none;
    cursor: pointer;
    margin-bottom: 29px;
    letter-spacing: 1px;
    border: none;
    transition: 0.6s;
}
.wordpress-btn:hover {
    color: #000;
    background-color: #fff;
}
.post-title {
    color:  #333333;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
.post-sign {
    color:  #cccccc;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
}
.post-info {
    color:  #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 42px;
}
.post-footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    color:  #9a9a9a;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 42px;
    transition: 0.4s;
}
.post-footer i {
    margin-right: 4px;
}
.fa-share-alt {
    margin-right: 10px;
}
.post-footer a:hover {
    color: #0ff;
    transition: 0.4s;
}
.side-menu {
    display: flex;
    flex-direction: column;
    width: 22.56vw;
    margin-top: 33px;
    margin-left: 30px;
}
.search-bar {
    display: flex;
    justify-content: space-between;
    background-color:  #ffffff;
    height: 60px;
    padding: 14px;
    box-sizing: border-box;
    margin-bottom: 27px;
}
.search-bar input {
    border: none;
    outline-style: none;
    height: 32px;
    color:  #b7b7b7;
    font-size: 16px;
    font-style: italic;
    width: 100%;
    letter-spacing: 1px;
}
.search-bar a {
    border-radius: 2px;
    background-color:  #999999;
    width: 35px;
    height: 32px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    transition: 0.4s;
}
.search-bar a:hover {
    color:#999;
    background-color: #fff;
    font-size: 25px;
}
.search-bar input:focus {
    color: #000;
}
.recent-posts, .inst, .popular-tags {
    background-color: #fff;
    margin-bottom: 25px;
}
.block-title {
    background-color:  #ebebeb;
    width: 100%;
    height: 40px;
    color:  #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.triangle {
    height: 0;
	width: 0;
    margin: 0 auto;
    border-color: #ebebeb transparent;
	border-style: solid;
	border-width: 8px 8px 0px 8px;
}
.recent-posts-content {
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
}
.recent-posts-content li {
    display: flex;
    height: 4vw;
    align-content: space-between;
    margin-bottom: 23px;
    transition: 0.4s;
}
.recent-posts-content li img {
    width: 5.6vw;
    height: 4vw;
    margin-right: 1vw;
}
.recent-posts-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    color:  #3d3d3d;
    font-size: 16px;
    font-weight: 500;
}
.recent-post-footer {
    display: flex;
    color:  #777777;
    font-size: 13px;
    font-weight: 300;
}
.popular-tags-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 25px 15px 15px 15px;
}
.popular-tags-content a {
    display: inline-flex;
    align-self: stretch;
    justify-content: center;
    border-radius: 2px;
    border-width: 1px;
    border-color:  #eeeeee;
    border-style: solid;
    color:  #9c9c9c;
    padding: 9px 15px;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
    transition: 0.4s;
}
.popular-tags-content a:hover {
    background-color: #000;
    color: #fff;
}
.inst-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 28px 24px 20px 24px;
    box-sizing: border-box;
}
.inst-content img {
    width: 5.8vw;
    height: 5vw;
    margin-bottom: 5px;
    transition: 0.6s;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 1px;
}
.inst-content img:hover {
    cursor: pointer;
    border: 1px solid #b4b4b4;
}
.footer-logo {
    display: flex;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #484848;
    text-transform: uppercase;
    justify-content: center;
    height: 150px;
    align-items: center;
    box-shadow: 0px -3px 4.75px 0.25px rgba(163, 163, 163, 0.1);
}
.footer-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:  #777777;
    font-size: 14px;
    box-shadow: 0px -3px 4.75px 0.25px rgba(163, 163, 163, 0.1);
    height: 75px;
    padding:0 33.3%;
}
.footer-links a:hover {
    color: #000;
    transition: 0.4s;
}
.footer-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    box-shadow: 0px -3px 4.75px 0.25px rgba(163, 163, 163, 0.1);
}
.footer-main p {
    text-align: center;
    color:  #9c9c9c;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}
.footer-main span {
    color: #000;
}
.load-btn {
    display: flex;
    justify-content: center;
    margin-top: 66px;
    width: 47vw;
}
.load-btn button {
    border-radius: 2px;
    background-color:  #959595;
    width: 125px;
    height: 30px;
    color:  #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    outline-style: none;
    cursor: pointer;
    transition: 0.4s;
}
.load-btn button:hover {
    color:#959595;
    background-color: #fff;
}